.beer-info{
    margin: 50px;
    margin-top: 50px;    
    display: flex;
    gap: 30px;
    flex-wrap: wrap; 
    
    &__image{
        height: 450px;
    }

    &__img-container{
        background-color: #F5F5F5;
        height: 600px;
        width: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
}

@media screen and (min-width: 700px) {
    .beer-info{
        &__img-container{
            width: 900px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .beer-info{
        margin: 120px;
        margin-top: 50px;  
        
        &__img-container{
            width: 600px;
        }

        &__right-info{
            width: 515px;
        }
    }
}