.card-list{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    row-gap: 30px;
}

@media screen and (min-width: 700px) {
    .card-list{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 900px) {
    .card-list{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1324px) {
    .card-list{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}