@import url(//db.onlinewebfonts.com/c/553e6a3ae81f5dd5d83a25f7275f77c2?family=New+Grotesk+Square+THREE+_WEB);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

.card{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #F5F5F5;
    height: 400px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    font-family: "Inter";
    
    &__image{
        height: 60%;

    }

}

a{
    text-decoration: none;
}