.quick-look {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: default;

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    width: 60%;
    height: 40vw;
    color: black;
  }

  &__cross {
    position: absolute;
    top: 20px;
    right: 20px;

    &:hover {
      cursor: pointer;
    }
  }

  &__container{
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    gap: 60px;
  }

  &__img-container{
    width: 350px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    justify-content: center;
  }

  &__image{
    height: 400px;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  &__descrip-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
  }

  &__description{
    width: 350px;
    font-weight: normal;
    font-size: 16px;
  }

  &__info{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__tagline{
    font-size: 20px;
    width: 350px;
  }
  &__name{
    // font-family: "New Grotesk Square THREE _WEB";
    font-size: 50px;
  }

  &__button{
    width: 350px;
    height: 40px;
    position: fixed;
    bottom: 111px;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;

    &:hover{
      color: rgb(91, 90, 90);
    }
  }
}
  
  